body{
    background-color: #131312;
    width:100%;
    height:100vh;
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Poppins","sans-serif";
    
}
header{
    width:85%;
    height:95%;
    border:1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    overflow:hidden;

}
header .menu,.playing_menu
{
    width:25%;
    height:90%;
    position:relative;
    display:flex;
    /* justify-content: center;
    align-items: center; */
    /* border: 1px solid #fff; */
    background-color: #111727;
    box-shadow:5px 0px 2px #090f1f
} 
.playing_menu
{
    width :75%;
    background-color: #0b1320;
}
.player
{
    width:100%;
    height:10%;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f

}

h1
{
    font-size:30px;
    margin:20px 20px 0px 20px;
    font-weight: 500;
    
}
.menu
{
    display: flex;
    flex-direction: column;
    
}
.playlist
{
    margin:30px 0px 0px 20px;
}
h4{
    font-size:14px;
    font-weight:400;
    padding-bottom:px;
    color:#4c5262; 
    transition: .3s linear;
    cursor:pointer;
    display: flex;
    align-items: center;

}
h4:hover
{
    color:#fff
}
h4 span{
    position:relative;
    margin-right:35px;
}
h4 span::before
{
    content: "";
    position: absolute;
    width:4px;
    height:4px;
    border:2px solid #4c5262;
    border-radius: 50%;
    top:-4px;
    transition:.3s linear;
}
h4:hover span::before
{
    border:2px solid #fff;
}
.playlist .bi
{
    display: none;
}

.playlist .active
{
    color:#36e2ec;
}
.playlist .active span
{
    display: none;
}
.playlist .active .bi
{
    display:flex;
    margin-right: 20px;
    margin-left: 0px;
    padding: 0px;
    
    
}

.menu_song
{
    width:100%;
    height:360px;
    /* border:1px solid #fff; */
    margin-top: 40px;
    
}
.menu_song li
{
   list-style-type:none;
   padding:0px 0px 0px 0px;
   display: flex;
   align-items: center;

}
.menu_song li span
{
   font-size:12px;
   font-weight:600px
}
img
{
    width: 33px;
    height: 33px;
    margin-left: 22px;
}
h5{
    font-size: 11px;
    margin-left: 12px;
    
    /* position: relative; */
}
.subtitle
{
    font-size: 9px;
    color: #4c5262;
}
.songlist .bi
{
    display: flex;
    position:absolute;
    right: 20px;
    top:32%;
    font-size: 1.25rem;
}
.songlist
{
    position: relative;
    padding:0px;
    margin-left:15px;
    height: 60px;
    

    
}
.player
{
    display: flex;
    align-items: center;
    padding:0px 15px;

}
.wave
{
    width:30px;
    height:30px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items:flex-end;
    padding-bottom: 5px;
    margin-right: 0%;
    
    

}
.wave1
{
    width:3px;
    height:10px;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    background: #36e2ec;
    animation: unset;

}
.wave1:nth-child(2)
{
    height: 13px;
    animation-delay: .4s;
}
.wave1:nth-child(3)
{
    height: 8px;
    animation-delay: .8s;
}

/* javascript class wave */
.active2 .wave1{
    animation: wave 0.5s linear infinite;
}
.active2 .wave1:nth-child(2)
{
    animation-delay: .4s;
}
.active2 .wave1:nth-child(3)
{
    animation-delay: .8s;
}
@keyframes wave {
    0%
    {
        height:10px;
    }
    50%
    {
        height:15px;
    }
    100%
    {
        height:10px;
    }
}

.player img{
    width: 35px;
    height: 35px;
    margin-left: 19px;
    
}

.player h5
{
    width:200px;
    font-size: 13px;
    margin-left: 15px;
    color: #fff;
    line-height: 16px;
}

.player h5 .subtitle
{
   font-size: 11px;
   color:#4c5262;
   
}
.player .icon
{
    font-size: 25px;
    color: #fff;
    margin: 0px 20px 0px 40px;
    display: flex;

}
.icon .bi{
    cursor:pointer;
    outline:none;
    margin: 0px 3px;

    
}
.bi:nth-child(2)
{
    border:1px solid rgb(105,105,170,.1);
    border-radius: 50%;
    padding: 1px 3px 0px 6px;
    margin: 0px 6px;
    transition: .3s linear ;
}
.player span{
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight:400;
}
.player span{
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight:400;
}
#currentStart
{
    margin:0px 0px 0px 20px;
}
.player .bar
{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105,170,.1);
    margin: 0px 15px 0px 15px;

}
.bar .bar2
{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0px;
}
.bar .dot
{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition:.1s linear;
}
.bar .dot::before
{
    content:"";
    position: absolute;
    width: 15px;
    height: 15px;
    background:1px solid #36e2ec;
    border-radius: 50%;
    left: -5px;
    top: -5px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}
.bar input
{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity:0 ;
}
.player .vol
{
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 50px;
    background: rgb(105, 105,170,.1);
}
.vol .bi{
    position: relative;
    color: #fff;
    font-size:25px ;
    top: -17px;
    left: -30px;
}
.bar .volbar
{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0px;
}
.vol input
{
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity:0 ;
}
.vol .dot
{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition:.1s linear;
}
.vol .dot::before
{
    content:"";
    position: absolute;
    width: 15px;
    height: 15px;
    background:1px solid #36e2ec;
    border-radius: 50%;
    left: -5px;
    top: -5px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}
.vol input
{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity:0 ;
}

header .playing_menu
{
    z-index: 2;
}
header .playing_menu nav
{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    /* border: 1px solid #fff; */
}
header .playing_menu nav ul
{
    display: flex;
}
header .playing_menu nav ul li
{
    display: flex;
    list-style-type: none;
    position: relative;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}
header .playing_menu nav ul li:hover
{
   color: #fff;
}
header .playing_menu nav ul li:nth-child(1)
{
   color: #fff;
}
header .playing_menu nav ul li span
{
    position:absolute;
    width: 100%;
    height: 2.5px;
    background: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}
header .playing_menu .search
{
    position:relative;
    width: 40%;
   color: gray;
    /* background: #36e2ec; */
    left: 0;
    border-radius: 20px;
    padding: 1px;
}

header .playing_menu .search::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgb(184,184,184,.1);
    backdrop-filter: blur(5px);
    z-index: -1;
}
header .playing_menu .search .bi{
font-size: 13px;
padding:3px 0px 0px 10px;
}
header .playing_menu .search input{
    background: none;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
    }

    header .playing_menu nav .user
    {
        width: 30px;
        position: relative;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 15px;
    }

    header .playing_menu nav .user .bi
    {
        
        position: absolute;
        font-size: 23px;
        box-shadow: 2px 2px 8px #131312;

        
        
    }

